<figure class="logo">
    <a href='/'><img src="../assets/LogoSVG2.svg" alt="Logo header"></a>
    <figcaption>Fig1. - LogowTag</figcaption>
</figure>


<nav id="first">
    <a href="/">Home</a></li>
    <a href="/products">Products</a></li>
    <a href="/aboutus">About Us</a></li>
</nav>


<nav role='navigation' id="second">
    <ul>
        <li>
            <a>
                <div class="box">
                    <div class="searchBox">
                        <input type="text">
                        <span></span>
                    </div>
                </div>
            </a>
        </li>
        <li><a href="#" id="ingresar"><i class="fa-solid fa-user"></i></a></a>
            <ul>
                <li><a href="/users/register" id="test">Register</a></li>
                <li><a href="/users/login" id="test">Login</a></li>
            </ul>
        </li>
        <li><a href="/cart" id="cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
</nav>