$ppal-color: rgb(202, 132, 2);
$sdo-color: silver;
$bg-color: rgba(39, 39, 37, 0.797);
$bg-new-color: linear-gradient(to bottom-right, black, rgb(46, 46, 46));
$title-gold-size: 1.5rem;
$title-silver-size: 1rem;
