<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/60811efc65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/components/headerStyle.css">
    <link rel="stylesheet" href="../public/css/components/reset.css">
    <link rel="stylesheet" href="../public/css/components/footerStyle.css">

    <link rel="stylesheet" href="../public/css/indexStyle.css">
    <link rel="stylesheet" href="../public/css/registerStyle.css">

    <title>Say Whisky!</title>
    <!--
        Cinzel Font & Philosopher
        Cinzel Tittle
        Philosopher Text
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Philosopher&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <figure class="logo">
            <a href='./index.html'><img src="../public/assets/LogoSVG2.svg" alt="Logo header"></a>
            <figcaption>Fig1. - LogowTag</figcaption>
        </figure>


        <nav id="first">
            <a href="./index.html">Home</a></li>
            <a href="./index.html">Products</a></li>
            <a href="./aboutus.html">About Us</a></li>
        </nav>


        <nav role='navigation' id="second">
            <ul>
                <li>
                    <a>
                        <div class="box">
                            <div class="searchBox">
                                <input type="text">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li><a href="#" id="ingresar"><i class="fa-solid fa-user"></i></a></a>
                    <ul>
                        <li><a href="./register.html" id="test">Register</a></li>
                        <li><a href="./login.html" id="test">Login</a></li>
                    </ul>
                </li>
                <li><a href="./index.html" id="cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner">
            <div class="slide-container">
                <div class="slide-box" style="background-image: url('../public/assets/banner1.jpg');">
                    <div class="slide-box-containt">
                        <h2>Nuevos ingresos exclusivos</h2>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque praesentium</p>
                    </div>
                </div>
                <div class="slide-box" style="background-image: url('../public/assets/banner2.jpg');">
                    <div class="slide-box-containt">
                        <h2>Ultimos disponibles</h2>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque praesentium</p>
                    </div>
                </div>
                <div class="slide-box" style="background-image: url('../public/assets/banner3.jpg');">
                    <div class="slide-box-containt">
                        <h2>Kits para mixologia botanica</h2>
                        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque praesentium</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="titulos">
            <a id="TituloGold">DISCOVER </a><a id="TituloSilver">Featured Products</a>
        </div>

        <section id="sales_cat">
            <div>
                <article class="sales" id="sale1">
                    <a href="/"><img src="../public/assets/sale1.png" alt="sale_img1"></a>
                </article>
                <h2>Grant´s Triple Wood</h2>
                <h3>Blended Scotch Whisky</h3>
                <br>
                <h4>ARS$5.890</h4>
                <h4>
                    <p>$7.550</p>
                </h4>
            </div>
            <div>
                <article class="sales" id="sale2">
                    <a href="/"><img src="../public/assets/sale2.png" alt="sale_img2"></a>
                </article>
                <h2>Jack Daniels</h2>
                <h3>Tennessee Whiskey</h3>
                <br>
                <h4>ARS$5.890</h4>
                <h4>
                    <p>$7.550</p>
                </h4>
            </div>
            <div>
                <article class="sales" id="sale3">
                    <a href="/"><img src="../public/assets/sale3.png" alt="sale_img3"></a>
                </article>
                <h2>Johnnie Walker</h2>
                <h3>Red Label</h3>
                <br>
                <h4>ARS$5.890</h4>
                <h4>
                    <p>$7.550</p>
                </h4>
            </div>
            <div>
                <article class="sales" id="sale4">
                    <a href="/"><img src="../public/assets/sale4.png" alt="sale_img4"></a>
                </article>
                <h2>Jim Beam</h2>
                <h3>Bourbon White</h3>
                <br>
                <h4>ARS$5.890</h4>
                <h4>
                    <p>$7.550</p>
                </h4>
            </div>
        </section>

        <div class="titulos">
            <a id="TituloGold">DISCOVER </a><a id="TituloSilver">Our Brands</a>
        </div>

        <section id="brand_cat">
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/ballantines.png" alt="brand1"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/chivas.png" alt="brand2"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/Grants.png" alt="brand3"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/JohnnieWalker.png" alt="brand4"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/whitehorse.png" alt="brand5"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/williamlawson.png" alt="brand6"></a>
            </article>
        </section>

        <section id="explore">
            <img src="../public/assets/breath.jpg" alt="Explore_background">
            <p>The world has changed dramatically. But our quality never has.</p>
            <br>
            <p><a href="/">Explore more...</a></p>
        </section>

        <div class="titulos">
            <a id="TituloGold">DISCOVER </a><a id="TituloSilver">Top-rated Products</a>
        </div>

        <section class="calificados_cat">
            <div id="calificados_1">
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale1.png" alt="mejor_calificado1"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale2.png" alt="mejor_calificado2"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale3.png" alt="mejor_calificado3"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
            </div>

            <div id="calificados_1">
                <div>
                    <p></p>
                    <article>
                        <a href="/"><img src="../public/assets/sale1.png" alt="mejor_calificado1"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale2.png" alt="mejor_calificado2"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale3.png" alt="mejor_calificado3"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
            </div>
        </section>

    </main>
    <footer>
        <section class="foot">
            <div class="bloqueUno">
                <div id="contacts">
                    <a href=''> <i class="fab fa-instagram"></i></a>
                    <a href=''> <i class="fab fa-facebook-square"></i></a>
                    <a href=''> <i class="fab fa-linkedin"></i></a>
                </div>
                <div id="informacion">
                    <p><i class="far fa-envelope"></i>contacto@vinosyspirits.com</p>
                    <p>Atención de Lunes a Viernes de 9 a 18 hs.</p>
                    <p>0800-888-0600</p>
                </div>
            </div>


            <div class="bloqueDos">
                <figure>
                    <a href='/'><img src="../public/assets/LogoSVG2.svg" alt="Logo header" width="5%" height="5%"></a>
                </figure>
                <div>
                    <a href="/">Home</a>
                    <a href="/products">Products</a>
                    <a href="/aboutus">About us</a>
                </div>
            </div>


            <div class="bloqueTres">
                <p><a href="/preguntasfrecuentes">Preguntas Frecuentes</a></p>
                <p><a href="/envios">Envios</a></p>
                <p>Metodos de pago:</p>
                <div>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                </div>
            </div>
        </section>


        <section class="copyright">
            <p>
                Copyright ©2020. Todos los Derechos Reservados.

                <a href="/tyc">Términos & Condiciones</a>
                |
                <a href="/politicasdeprivacidad">Política de Privacidad</a>
                |
                <a href="/tyccompras">Términos & Condiciones de Compra</a>
            </p>
        </section>
    </footer>
</body>

</html>