<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/60811efc65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/styles.css">

    <title>Say Whisky!</title>
    <!--
        Cinzel Font & Philosopher
        Cinzel Tittle
        Philosopher Text
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Philosopher&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <figure class="logo">
            <a href='./index.html'><img src="../public/assets/LogoSVG2.svg" alt="Logo header"></a>
            <figcaption>Fig1. - LogowTag</figcaption>
        </figure>

        <nav id="first">
            <a href="./index.html">Home</a></li>
            <a href="./product.html">Products</a></li>
            <a href="./recipes.html">Recipes</a></li>
            <a href="../home.html">Home v2</a></li>
        </nav>

        <nav id="second">
            <ul>
                <li>
                    <i class="fa-solid fa-magnifying-glass"><input type="text"></i>
                </li>
                <li>
                    <a href="./register.html" id="user">Sign Up</a>

                </li>
                <p>|</p>
                <li>
                    <a href="./login.html" id="user">Sign In</a>
                </li>
                <li>
                    <a href="./index.html" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="banner">
            <div class="bannerImage-Container">
                <div class="ban image1">
                    <img src='../public/assets/banner1.jpg' alt="bannerImage">
                    <h2 id="TituloGold">Nuevos ingresos exclusivos</h2>
                    <p id="TituloSilver"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque praesentium
                    </p>
                </div>
                <div class="ban image2">
                    <img src='../public/assets/banner2.jpg' alt="bannerImage">
                    <h2 id="TituloGold">Ultimos disponibles</h2>
                    <p id="TituloSilver"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque praesentium
                    </p>
                </div>
                <div class="ban image3">
                    <img src='../public/assets/banner3.jpg' alt="bannerImage">
                    <h2 id="TituloGold">Kits para mixologia botanica</h2>
                    <p id="TituloSilver">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque praesentium
                    </p>
                </div>
            </div>
        </section>




        <div class="titulos">
            <a id="TituloGold">DISCOVER </a><a id="TituloSilver">Featured Products</a>
        </div>

        <section id="sales_cat">
            <div>
                <article class="sales" id="sale1">
                    <a href="/"><img src="../public/assets/sale1.png" alt="sale_img1"></a>
                </article>
                <h3>Grant´s Triple Wood</h3>
                <h2 id="TituloGold">Blended Scotch Whisky</h2>
                <h4>ARS$5.890</h4>
                <h5>$7.550</h5>

            </div>
            <div>
                <article class="sales" id="sale2">
                    <a href="/"><img src="../public/assets/sale2.png" alt="sale_img2"></a>
                </article>
                <h3>Jack Daniels</h3>
                <h2 id="TituloGold">Tennessee Whiskey</h2>
                <h4>ARS$5.890</h4>
                <h5>$7.550</h5>

            </div>
            <div>
                <article class="sales" id="sale3">
                    <a href="/"><img src="../public/assets/sale3.png" alt="sale_img3"></a>
                </article>
                <h3>Johnnie Walker</h3>
                <h2 id="TituloGold">Red Label</h2>
                <h4>ARS$5.890</h4>
                <h5>$7.550</h5>

            </div>
            <div>
                <article class="sales" id="sale4">
                    <a href="/"><img src="../public/assets/sale4.png" alt="sale_img4"></a>
                </article>
                <h3>Jim Beam</h2>
                    <h2 id="TituloGold">Bourbon White
                </h3>
                <h4>ARS$5.890</h4>
                <h5>$7.550</h5>
            </div>
        </section>

        <div class="titulos">
            <a id="TituloGold">DISCOVER </a><a id="TituloSilver">Our Brands</a>
        </div>

        <section id="brand_cat">
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/ballantines.png" alt="brand1"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/chivas.png" alt="brand2"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/Grants.png" alt="brand3"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/JohnnieWalker.png" alt="brand4"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/whitehorse.png" alt="brand5"></a>
            </article>
            <article class="brand">
                <a href="/"><img src="../public/assets/brands/williamlawson.png" alt="brand6"></a>
            </article>
        </section>

        <section id="explore">
            <img src="../public/assets/breath.jpg" alt="Explore_background">
            <p>The world has changed dramatically. But our quality never has.</p>
            <p><a href="/">Explore more...</a></p>
        </section>

        <div class="titulos">
            <a id="TituloGold">DISCOVER </a><a id="TituloSilver">Top-rated Products</a>
        </div>

        <section class="calificados_cat">
            <div id="calificados_1">
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale1.png" alt="mejor_calificado1"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale2.png" alt="mejor_calificado2"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale3.png" alt="mejor_calificado3"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
            </div>

            <div id="calificados_1">
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale1.png" alt="mejor_calificado1"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale2.png" alt="mejor_calificado2"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
                <div>
                    <article>
                        <a href="/"><img src="../public/assets/sale3.png" alt="mejor_calificado3"></a>
                    </article>
                    <img src="../public/assets/estrellas.png" alt="puntuacion" id="calif">
                </div>
            </div>
        </section>

    </main>
    <footer>
        <section class="foot">
            <div class="bloqueUno">
                <div id="contacts">
                    <a href=''> <i class="fab fa-instagram"></i></a>
                    <a href=''> <i class="fab fa-facebook-square"></i></a>
                    <a href=''> <i class="fab fa-linkedin"></i></a>
                </div>
                <div id="informacion">
                    <p><i class="far fa-envelope"></i>contacto@saywhisky.com</p>
                    <p>Opening hours: Monday to Friday (9hs to 18hs)</p>
                    <p>0800-888-0600</p>
                </div>
            </div>


            <div class="bloqueDos">
                <figure>
                    <a href='/'><img src="../public/assets/LogoSVG2.svg" alt="Logo header" width="5%" height="5%"></a>
                </figure>
                <div>
                    <a href="/">Home</a>
                    <a href="/products">Products</a>
                    <a href="/aboutus">Recipes</a>
                </div>
            </div>


            <div class="bloqueTres">
                <p><a href="/preguntasfrecuentes">Frequent questions</a></p>
                <p><a href="/envios">Shipments</a></p>
                <p>Payment Methods:</p>
                <div>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                </div>
            </div>
        </section>


        <section class="copyright">
            <p>
                Copyright ©2020. All rights reserved.

                <a href="/tyc">Terms and Conditions</a>
                |
                <a href="/politicasdeprivacidad">Privacy Policy</a>
            </p>
        </section>
    </footer>
</body>

</html>