<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/60811efc65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/styles.css">

    <title>Say Whisky!</title>
    <!--
        Cinzel Font & Philosopher
        Cinzel Tittle
        Philosopher Text
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Philosopher&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <figure class="logo">
            <a href='./index.html'><img src="../public/assets/LogoSVG2.svg" alt="Logo header"></a>
            <figcaption>Fig1. - LogowTag</figcaption>
        </figure>

        <nav id="first">
            <a href="./index.html">Home</a></li>
            <a href="./product.html">Products</a></li>
            <a href="./recipes.html">Recipes</a></li>
        </nav>

        <nav id="second">
            <ul>
                <li>
                    <i class="fa-solid fa-magnifying-glass"><input type="text"></i>
                </li>
                <li>
                    <a href="./register.html" id="user">Sign Up</a>

                </li>
                <p>|</p>
                <li>
                    <a href="./login.html" id="user">Sign In</a>
                </li>
                <li>
                    <a href="./index.html" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="RecipiesTitle">
        <h1><a id="TituloGold">DISCOVER </a><a id="TituloSilver">New delicious recipies</a></h1>
    </div>

    <div class="fila">
        <div class="columna">
            <a href="./index.html"><img src="../public/assets/recipes/jim_beam_beam_bourbon_sour.jpg"></a>
            <a href="./index.html"><img src="../public/assets/recipes/beam_tonic_20150620_L.jpg"></a>
            <a href="./index.html"><img src="../public/assets/recipes/berry-julip.jpg"></a>
            <a href="./index.html"><img src="../public/assets/recipes/bloody_beam_20150620_L.jpg"></a>
            <a href="./index.html"><img src="../public/assets/recipes/JB Red Stag Highball.jpg"></a>
        </div>

        <div class="columna">
            <a href="./index.html"><img src="../public/assets/recipes/JB Soda Highball.jpg"></a>
            <a href="./index.html"><img src="../public/assets/recipes/JBB & Soda Cocktail_0.png"></a>
            <a href="./index.html"><img src="../public/assets/recipes/JBP & Soda Cocktail.png"></a>
            <a href="./index.html"><img src="../public/assets/recipes/Jim Beam Bourbon Cream Hot Chocolate.jpg"></a>
            <a href="./index.html"><img src="../public/assets/recipes/Jim Beam Bourbon Cream On the Rocks.jpg"></a>
            <a href="./index.html"><img src="../public/assets/recipes/7832_jim_beam_orleans_beauty_i.jpg"></a>
        </div>
    </div>

    <footer>
        <section class="foot">
            <div class="bloqueUno">
                <div id="contacts">
                    <a href=''> <i class="fab fa-instagram"></i></a>
                    <a href=''> <i class="fab fa-facebook-square"></i></a>
                    <a href=''> <i class="fab fa-linkedin"></i></a>
                </div>
                <div id="informacion">
                    <p><i class="far fa-envelope"></i>contacto@saywhisky.com</p>
                    <p>Opening hours: Monday to Friday (9hs to 18hs)</p>
                    <p>0800-888-0600</p>
                </div>
            </div>


            <div class="bloqueDos">
                <figure>
                    <a href='/'><img src="../public/assets/LogoSVG2.svg" alt="Logo header" width="5%" height="5%"></a>
                </figure>
                <div>
                    <a href="/">Home</a>
                    <a href="/products">Products</a>
                    <a href="/aboutus">Recipes</a>
                </div>
            </div>


            <div class="bloqueTres">
                <p><a href="/preguntasfrecuentes">Frequent questions</a></p>
                <p><a href="/envios">Shipments</a></p>
                <p>Payment Methods:</p>
                <div>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                </div>
            </div>
        </section>


        <section class="copyright">
            <p>
                Copyright ©2020. All rights reserved.

                <a href="/tyc">Terms and Conditions</a>
                |
                <a href="/politicasdeprivacidad">Privacy Policy</a>
            </p>
        </section>
    </footer>
</body>

</html>