<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/60811efc65.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./public/css/style.css">
    
        <title>Say Whisky!</title>
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!--
            Cinzel Font & Philosopher
            Cinzel Tittle
            Philosopher Text
        -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Philosopher&display=swap"
            rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
    
    </head>
    
    <body class="index-body">
        <header id="index-header">
            <nav id="nav-bar">
    
                <div class="nav-col izq">
                    <li><a href="./index.html" class="indice">Home</a></li>
                    <li><a href="./product.html" class="indice">Products</a></li>
                    <li><a href="./recipes.html" class="indice">Recipes</a></li>
                    <div class="search-box">
                        <input class="search-txt" type="text" name="" placeholder="Look for Happiness">
                        <a href="#" class="search-btn">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
    
    
    
                <figure class="nav-col logo">
                    <a href='./home.html'><img src="./public/assets/LogoSVG2.svg" alt="Logo header"></a>
                </figure>
                <div class="nav-col der">
                    <label class="dropdown">
                        <div class="dd-button">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <input type="checkbox" class="dd-input" id="test">
                        <ul class="dd-menu">
                            <li>Action</li>
                            <li>Another action</li>
                            <li>Something else here</li>
                        </ul>
                    </label>
                    <div class="dd-button">
                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
    
            </nav>
            <div id="burger-container">
                <div class="hamburger-menu">
                    <input id="menu__toggle" type="checkbox" />
                    <label class="menu__btn" for="menu__toggle">
                        <span></span>
                    </label>
    
                    <ul class="menu__box">
                        <div class="test">
                            <div class="search-box resp">
                                <input class="search-txt" type="text" name="" placeholder="Look for Happiness">
                                <a href="#" class="search-btn">
                                    <i class="fas fa-search"></i>
                                </a>
                            </div>
                        </div>
                        <li><a class="menu__item" href="#">Home</a></li>
                        <li><a class="menu__item" href="#">Products</a></li>
                        <li><a class="menu__item" href="#">Recipes</a></li>
                        <hr>
                        <li><a class="menu__item" href="#">Sign Up</a></li>
                        <li><a class="menu__item" href="#">Login</a></li>
                        <li><a class="menu__item" href="#">Cart</a></li>
                    </ul>
                </div>
            </div>
        </header>
    
    <div class="help">
        <section class="registro">

            <h2>
                Crea tu cuenta
            </h2>


                    <form action="/users/register/guardar" method="post">
                        <div id="ParteA">
                            <p>
                                <label for="Nombre">Nombre: </label>
                                <input type="text" name="name" id="Nombre" placeholder="Nombre">
                            </p>
                            <p>
                                <label for="Apellido">Apellido: </label>
                                <input type="text" name="lastname" id="Apellido" placeholder="Apellido">
                            </p>
                            <p>
                                <!-- Check si existe -->
                                <label for="Provincia">Provincia: </label>
                                <input type="text" name="province" id="Provincia" placeholder="Provincia">
                            </p>
                            <p>
                                <!-- Check si existe -->
                                <label for="Localidad">Localidad: </label>
                                <input type="text" name="location" id="Localidad" placeholder="Localidad">
                            </p>
                            <p>
                                <label for="Codigo Postal">Codigo Postal: </label>
                                <input type="text" name="codpostal" id="Codigo Postal" placeholder="Codigo Postal">
                            </p>
                            <p>
                                <label for="Direccion">Dirección: </label>
                                <input type="text" name="address" id="Direccion" placeholder="Direccion">
                            </p>
                            <p>
                                <label for="Email">Email: </label>
                                <input type="email" name="email" id="Email" placeholder="Email">
                            </p>
                            <p>
                                <label for="Password">Contraseña: </label>
                                <input type="password" name="password" id="Password" placeholder="Contraseña">
                            </p>
                            <p>
                                <!--Check coincidencia entre ambas contraseñas-->
                                <label for="RPassword">Repetir Contraseña: </label>
                                <input type="password" id="RPassword" placeholder="Repite tu contraseña">
                            </p>
                        </div>
                        <div id="ParteB">
                            <p>
                                <label for="legal">Soy mayor de edad</label>
                                <input type="checkbox" name="legal" value='1' id="legal">
                            </p>
                            <p>
                                <label for="condiciones">Acepto los terminos y condiciones del sitio</label>
                                <input type="checkbox" name="conditions" value='1' id="condiciones">
                            </p>
                        </div>
                        <div id="ParteC">
                            <input class="button" type="submit" value="Registrar">
                        </div>
                    </form>

                    <div class="log">
                        <p>Ya tienes una cuenta? <a href="login.html"> Inicia sesión aquí</a></p>
                    </div>
        </section>
    </div>

    <footer>
        <section class="foot">
            <div class="bloqueUno">
                <div id="contacts">
                    <a href=''> <i class="fab fa-instagram"></i></a>
                    <a href=''> <i class="fab fa-facebook-square"></i></a>
                    <a href=''> <i class="fab fa-linkedin"></i></a>
                </div>
                <div id="informacion">
                    <p><i class="far fa-envelope"></i>contacto@saywhisky.com</p>
                    <p>Opening hours: Monday to Friday (9hs to 18hs)</p>
                    <p>0800-888-0600</p>
                </div>
            </div>


            <div class="bloqueDos">
                <figure>
                    <a href='/'><img src="../public/assets/LogoSVG2.svg" alt="Logo header" width="5%" height="5%"></a>
                </figure>
                <div>
                    <a href="/">Home</a>
                    <a href="/products">Products</a>
                    <a href="/aboutus">Recipes</a>
                </div>
            </div>


            <div class="bloqueTres">
                <p><a href="/preguntasfrecuentes">Frequent questions</a></p>
                <p><a href="/envios">Shipments</a></p>
                <p>Payment Methods:</p>
                <div>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                </div>
            </div>
        </section>


        <section class="copyright">
            <p>
                Copyright ©2020. All rights reserved.

                <a href="/tyc">Terms and Conditions</a>
                |
                <a href="/politicasdeprivacidad">Privacy Policy</a>
            </p>
        </section>
    </footer>
</body>

</html>