<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/60811efc65.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/components/headerStyle.css">
    <link rel="stylesheet" href="../public/css/components/reset.css">
    <link rel="stylesheet" href="../public/css/components/footerStyle.css">

    <link rel="stylesheet" href="../public/css/indexStyle.css">
    <link rel="stylesheet" href="../public/css/registerStyle.css">

    <title>Say Whisky!</title>
    <!--
        Cinzel Font & Philosopher
        Cinzel Tittle
        Philosopher Text
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Philosopher&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Scope+One&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <figure class="logo">
            <a href='./index.html'><img src="../public/assets/LogoSVG2.svg" alt="Logo header"></a>
            <figcaption>Fig1. - LogowTag</figcaption>
        </figure>


        <nav id="first">
            <a href="./index.html">Home</a></li>
            <a href="./index.html">Products</a></li>
            <a href="./aboutus.html">About Us</a></li>
        </nav>


        <nav role='navigation' id="second">
            <ul>
                <li>
                    <a>
                        <div class="box">
                            <div class="searchBox">
                                <input type="text">
                                <span></span>
                            </div>
                        </div>
                    </a>
                </li>
                <li><a href="#" id="ingresar"><i class="fa-solid fa-user"></i></a></a>
                    <ul>
                        <li><a href="./register.html" id="test">Register</a></li>
                        <li><a href="./login.html" id="test">Login</a></li>
                    </ul>
                </li>
                <li><a href="./index.html" id="cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>
    <div class="help">
        <section class="registro">

            <h2>
                Crea tu cuenta
            </h2>


                    <form action="/users/register/guardar" method="post">
                        <div id="ParteA">
                            <p>
                                <label for="Nombre">Nombre: </label>
                                <input type="text" name="name" id="Nombre" placeholder="Nombre">
                            </p>
                            <p>
                                <label for="Apellido">Apellido: </label>
                                <input type="text" name="lastname" id="Apellido" placeholder="Apellido">
                            </p>
                            <p>
                                <!-- Check si existe -->
                                <label for="Provincia">Provincia: </label>
                                <input type="text" name="province" id="Provincia" placeholder="Provincia">
                            </p>
                            <p>
                                <!-- Check si existe -->
                                <label for="Localidad">Localidad: </label>
                                <input type="text" name="location" id="Localidad" placeholder="Localidad">
                            </p>
                            <p>
                                <label for="Codigo Postal">Codigo Postal: </label>
                                <input type="text" name="codpostal" id="Codigo Postal" placeholder="Codigo Postal">
                            </p>
                            <p>
                                <label for="Direccion">Dirección: </label>
                                <input type="text" name="address" id="Direccion" placeholder="Direccion">
                            </p>
                            <p>
                                <label for="Email">Email: </label>
                                <input type="email" name="email" id="Email" placeholder="Email">
                            </p>
                            <p>
                                <label for="Password">Contraseña: </label>
                                <input type="password" name="password" id="Password" placeholder="Contraseña">
                            </p>
                            <p>
                                <!--Check coincidencia entre ambas contraseñas-->
                                <label for="RPassword">Repetir Contraseña: </label>
                                <input type="password" id="RPassword" placeholder="Repite tu contraseña">
                            </p>
                        </div>
                        <div id="ParteB">
                            <p>
                                <label for="legal">Soy mayor de edad</label>
                                <input type="checkbox" name="legal" value='1' id="legal">
                            </p>
                            <p>
                                <label for="condiciones">Acepto los terminos y condiciones del sitio</label>
                                <input type="checkbox" name="conditions" value='1' id="condiciones">
                            </p>
                        </div>
                        <div id="ParteC">
                            <input class="button" type="submit" value="Registrar">
                        </div>
                    </form>

                    <div class="log">
                        <p>Ya tienes una cuenta? <a href="login.html"> Inicia sesión aquí</a></p>
                    </div>
        </section>
    </div>

    <footer>
        <section class="foot">
            <div class="bloqueUno">
                <div id="contacts">
                    <a href=''> <i class="fab fa-instagram"></i></a>
                    <a href=''> <i class="fab fa-facebook-square"></i></a>
                    <a href=''> <i class="fab fa-linkedin"></i></a>
                </div>
                <div id="informacion">
                    <p><i class="far fa-envelope"></i>contacto@vinosyspirits.com</p>
                    <p>Atención de Lunes a Viernes de 9 a 18 hs.</p>
                    <p>0800-888-0600</p>
                </div>
            </div>
    
    
            <div class="bloqueDos">
                <figure>
                    <a href='/'><img src="../public/assets/LogoSVG2.svg" alt="Logo header" width="5%" height="5%"></a>
                </figure>
                <div>
                    <a href="/">Home</a>
                    <a href="/products">Products</a>
                    <a href="/aboutus">About us</a>
                </div>
            </div>
    
    
            <div class="bloqueTres">
                <p><a href="/preguntasfrecuentes">Preguntas Frecuentes</a></p>
                <p><a href="/envios">Envios</a></p>
                <p>Metodos de pago:</p>
                <div>
                    <i class="fab fa-cc-paypal"></i>
                    <i class="fab fa-cc-amex"></i>
                    <i class="fab fa-cc-visa"></i>
                    <i class="fab fa-cc-mastercard"></i>
                </div>
            </div>
        </section>
    
    
        <section class="copyright">
            <p>
                Copyright ©2020. Todos los Derechos Reservados.
    
                <a href="/tyc">Términos & Condiciones</a>
                |
                <a href="/politicasdeprivacidad">Política de Privacidad</a>
                |
                <a href="/tyccompras">Términos & Condiciones de Compra</a>
            </p>
        </section>
    </footer>
</body>

</html>