body{
    background-image: url("../assets/bg5byndesenfocadoOscuro.jpg");
    /*background-image: url('/public/assets/bg5byndesenfocadoOscuro.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulos{
    font-family: 'Scope One', serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.titulos #TituloGold{
    color: rgb(202, 132, 2);
}

.titulos #TituloSilver{
    color: silver;
}


/* 
        *******************************
        ACA EMPIEZA EL STYLE DEL BANNER
        ******************************* 
*/

.slide-container{
    display: flex;
    margin-top: 8rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.slide-box{
    flex-basis: 33.333%;
    height: 70vh;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #000;
    transition: all 0.6s ease-out;
    background-size: auto 120%;
    background-position: center center;
    background-repeat: no-repeat;
}

.slide-box:last-child{
    border:0;
}

.slide-container:hover .slide-box{
    flex-basis: 20%;
}

.slide-container:hover .slide-box:hover{
    flex-basis: 60%;
    transition: all 0.4s ease-out;
}

.slide-box-containt{
    padding: 1.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0, 0.8);
    font-size: 0.9rem;
    opacity: 0;
    position: relative;
    left: -1.5rem;
}

.slide-box:hover .slide-box-containt{
    left: 0;
    opacity: 1;
    transition: all 0.6s ease-out 0.6s;
}

slide-box-containt h2{
    margin: 0 0 1rem;
}

slide-box-containt p{
    margin: 0;
}

/* 
        *********************************
        ACA EMPIEZA EL STYLE DE LOS SALES
        *********************************
*/

section#sales_cat{
    display: flex;
    justify-content: space-around;
    background-color: rgba(56, 56, 56, 0.8);
    padding-bottom: 2rem;
    text-align: center;
}

.sales{
    display: flex;
    flex-direction: row;
}

.sales img{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.sales img:hover{
    width: 102%;
    height: 102%;
}

#sales_cat h2,h4{
    color: rgb(201, 201, 201);
}

#sales_cat h3{
    font-style: italic;
    color: rgb(202, 132, 2);
}


#sales_cat p{
    color: rgb(150, 150, 150);
    text-decoration: line-through;

}

/* 
        ********************************************
        ACA EMPIEZA EL STYLE DE LA SECTION POR BRAND
        ********************************************
*/

section#brand_cat{
    display: flex;
    justify-content: space-around;
}

.brand{
    display: flex;
    flex-direction: row;
    height: 7.5rem;
    width: 7.5rem;
    align-items: center;
    
    border: 2px solid rgb(56, 56, 56);
    /*background-color: rgba(56, 56, 56, 0.5);*/
    
    transition: 0.6s;
}

.brand:hover{
    background-color: rgba(73, 73, 73, 0.801);
}

.brand img{
    width: 100%;
    height: 80%;
}


/* 
        ********************************
        ACA EMPIEZA EL STYLE DEL EXPLORE
        ********************************
*/

#explore img{
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

#explore{
    display: flex;
    flex-direction: column;
}

#explore p{
    position: relative;
    bottom: 27.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: silver;
}

#explore a{
    display: flex;
    justify-content: center;
    color: silver;
    border: 1px double silver;
    list-style: none;
    outline: none;
    width: 10rem;
    background-color: rgba(56, 56, 56, 0.8);
    font-size: 1rem;
}

/* 
        *************************************************
        ACA EMPIEZA EL STYLE DE LA SECTION DE CALIFICADOS
        *************************************************
*/

#calif{
    position: relative;
    height: 2.5rem;
    width: 10rem;
    left: 2.5rem;
    bottom: 2.5rem;
}

#calificados_1{
    display: flex;
    justify-content: space-around;
}


#calificados_1 article{
    display: flex;
    flex-direction: row;
    height: 17.5rem;
    width: 15rem;
    align-items: center;
    transition: 0.8s;
}

#calificados_1 article:hover{
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 100%;
    
}

#calificados_1 article img{
    width: 100%;
    height: 100%;
}









