/******************
	MEDIAQUERYs 
*******************/

@media (min-width: 320px) and (max-width: 1024px) {
    #nav-bar {
        display: none;
    }

    #goldTitle {
        font-size: 40%;
    }

    #silverTitle {
        font-size: 30%;
        margin-left: 3%;
    }

    #burger-container {
        display: inherit;
    }

    .search-box.resp {
        display: inherit;
    }

    .search-btn {
        transform: translateX(0vh);
        text-decoration: none;
        color: var(--main-color);
    }

    /* Featured Products */

    .featured-prod {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        height: auto;
    }

    .fp-box {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    .fp-box img {
        width: 50%;
        height: fit-content
    }

    .fp-box #desc {
        display: flex;
        width: 100%;
    }

    /* Utils */

    #desc a.line.uno {
        font-size: small;
    }

    #desc a.line.dos {
        font-size: small;
    }

    #desc a.line.tres {
        font-size: small;
    }

    #desc a.line.cuatro {
        font-size: small;
    }

    /* Brands */

    .our-brands {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }


    /* Section Separator */

    #banner-desc {
        transform: translateY(-20vh);
    }

    #banner-desc a.line.dos {
        font-size: x-small;
    }

    #banner-desc a.line.tres {
        font-size: x-small;
    }

    /* Footer */

    .bloque.contact i{
        font-size: x-small;
    }

    .bloque.contact a{
        font-size: x-small;
    }

    .bloque.logo img{
        width: 3rem;
        height: auto;
    }
    
    .bloque.logo a{
        font-size: x-small;
    }

    .bloque.payment a{
        font-size: x-small;
    }

    .bloque.payment i{
        font-size: x-small;
    }

    
}