			/******************
				RESET STYLE
			*******************/


*{
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
}



			/******************
				HEADER STYLE
			*******************/

.index-body{
    display: grid;
    grid-template-areas: 
        "nav nav nav"
        "info info info"
        "pie pie pie";
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7.5fr 1.5fr;
}

.index-body #index-header{
    grid-area: nav;
    width: 100%;
    height: 100%;
    margin-top: 3vh;
}
.index-body #index-main{
    grid-area: info;
}
.index-body #index-footer{
    grid-area: pie;
}

#nav-bar {
    background-color: rgba(39, 39, 37, 0.797);
    height: 15vh;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    font-size: 2.5vh;
}

#nav-bar .nav-col.izq {
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: flex-end;
}

#nav-bar .nav-col.izq a{
    margin: 0 3vh 1vh 8vh;
    color: rgb(202, 132, 2);
    text-decoration: none;
}

.nav-col.izq .rutas{
    transition: all .5s;
}
.nav-col.izq .rutas:hover{
    font-weight: bold;
    font-size: 2.7vh;
}

#nav-bar .nav-col.logo{
    display: flex;
    justify-content: center;
}
#nav-bar .nav-col.logo img {
    height: 100%;
    size: 100%;
    transform: translateY(7vh);
}

#nav-bar .nav-col.der {
    display: flex;
    justify-content: right;
    flex-direction: row;
    
}

.nav-col.izq .search-box {
    background-color: none;
    height: 4.5vh;
    width: 4.5vh;
    border-radius: 10vh;
    margin-left: 2vh;
}

.nav-col.izq .search-box:hover > .search-txt {
    width: 25vh;
    background-color: rgba(39, 39, 37, 0.797);
    border: 1px solid rgb(202, 132, 2);
}

.nav-col.izq .search-btn {
    transform: translateX(-8vh);
    position: absolute;
    width: 4.5vh;
    height: 4.5vh;
    border-radius: 50%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.nav-col.izq .search-txt {
    border: none;
    border-radius: 50vh;
    background: none;
    outline: none;
    float: left;
    padding: 0 0 0 4vh;
    font-size: 2vh;
    transition: .4s;
    line-height: 4vh;
    width: 0;
    color: rgb(202, 132, 2);
}
  


.nav-col.der .fa-solid {
    transform: translate(-5vh, 1vh);
    padding: 5px;
    margin-left: 3vh;
    margin-right: 3vh;
    border-radius: 50%;
    transition: all 1s;
}

.nav-col.der .fa-solid:hover {
    border: 1px solid rgb(202, 132, 2);
}


.user-despleg, .cart {
    color: rgb(202, 132, 2);
}

.user-despleg li {
    display: none;
    border-radius: 2rem;
    padding: 0.2rem 0;
    text-align: center;
    border: 1px solid rgb(202, 132, 2);
    margin-top: 5%;
    font-size: 1.5vh;
}

.user-despleg a {
    color: rgb(202, 132, 2);
    transition: all .5s;
}
.user-despleg:hover > li{
    display: block;
}

.user-despleg a:hover{
    
    font-weight: bold;
    font-size: 1.8vh;
}
  





			/******************
				BODY STYLE
			*******************/

    
body{
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #272725;
}


