			/******************
				RESET STYLE
			*******************/


*{
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html{
    font-size: 20px;
}

			/******************
				HEADER STYLE
			*******************/

header{
    height: 7.5rem;
    background: rgba(37, 37, 37, 0.9);
}

header a, header p{
    color: silver;
}

/*
---> LOGO IMAGE
*/

figcaption {
    display: none;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    position: relative;
    top: 1.5rem;
    width: 12rem;
    height: 12rem;
}

/*
---> #FIRST NAV & SECOND NAV & ICONS
*/


header nav, ul, li{
	display: flex;
    flex-direction: row;
    align-items: center;
    
}

nav#first{
    justify-content: left;
    position: relative;
	left: 1rem;
    bottom: 6rem;
}

nav#second, ul, li, nav#second p{
	justify-content: right;
	padding: 0rem 0.3rem 0rem 0.3rem;
	position: relative;
	bottom: 4.2rem;
}

nav#first a{
	display: flex;
	justify-content: center;
	width: 5rem;
	margin: 0rem 1rem 0rem 1rem;
    font-size: 1rem;
}


 .fa-solid.fa-cart-shopping,
  .fa-solid.fa-magnifying-glass{
	color: rgb(255, 255, 255);
	padding: 0rem 0.5rem 0rem 1.5rem;
}

			/******************
				INDEX STYLE
			*******************/

body{
    background-image: url("../assets/bg5byndesenfocadoOscuro.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.titulos{
    font-family: 'Scope One', serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

#TituloGold{
    color: rgb(202, 132, 2);
}

#TituloSilver, #sales_cat h3, #sales_cat h4, #recuadro-products h3, #recuadro-products h4{
    color: silver;
}


/* 
---> ACA EMPIEZA EL STYLE DEL BANNER
*/


.banner{
    display: flex;
    width: fit-content;
    justify-content: center;
    height: 50rem;
    
}

.bannerImage-Container{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
    height: 40rem;
}

.banner img{
    width:100%;
    height:100%;
    object-fit: cover;
    margin-top: 8rem;
    border: 1px solid rgb(202, 132, 2);
}

.banner h2, .banner p{
    margin: 0.4rem;
    text-align: left;
    position: relative;
    bottom: 8rem;
}



/* 
---> ACA EMPIEZA EL STYLE DE LOS SALES
*/

section#sales_cat{
    display: flex;
    justify-content: space-around;
    background-color: rgba(56, 56, 56, 0.8);
    padding-bottom: 2rem;
    text-align: center;
}

.sales{
    display: flex;
    flex-direction: row;
}

.sales img{
    width: 100%;
    height: 100%;
}


#sales_cat h5, #recuadro-products h5{
    color: rgb(150, 150, 150);
    text-decoration: line-through;
}

/* 
---> ACA EMPIEZA EL STYLE DE LA SECTION POR BRAND
*/

section#brand_cat{
    display: flex;
    justify-content: space-around;
}

.brand{
    display: flex;
    flex-direction: row;
    height: 7.5rem;
    width: 7.5rem;
    align-items: center;
    border: 2px solid rgb(56, 56, 56);
}

.brand img{
    width: 100%;
    height: 80%;
}


/* 
---> ACA EMPIEZA EL STYLE DEL EXPLORE
*/

#explore img{
    margin-top: 7rem;
    width: 100%;
    height: 100%;
}

#explore{
    display: flex;
    flex-direction: column;
}

#explore p{
    position: relative;
    bottom: 27.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    color: silver;
}

#explore a{
    display: flex;
    position: relative;
    top: 1rem;
    justify-content: center;
    color: silver;
    border: 1px double silver;
    list-style: none;
    outline: none;
    width: 10rem;
    background-color: rgba(56, 56, 56, 0.8);
    font-size: 1rem;
}

/* 
---> ACA EMPIEZA EL STYLE DE LA SECTION DE CALIFICADOS
*/

#calif{
    position: relative;
    height: 2.5rem;
    width: 10rem;
    left: 2.5rem;
    bottom: 2.5rem;
}

#calificados_1{
    display: flex;
    justify-content: space-around;
}


#calificados_1 article{
    display: flex;
    flex-direction: row;
    height: 17.5rem;
    width: 15rem;
    align-items: center;
}


#calificados_1 article img{
    width: 100%;
    height: 100%;
}


			/******************
				FOOTER STYLE
			*******************/

.foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(37, 37, 37, 0.9);
}


.bloqueUno{
    width: 20rem;
    margin: 1.5rem;
    border-right: 1px solid rgb(58, 58, 58);
}

.bloqueDos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    margin: 1.5rem;
}

.bloqueTres{
    width: 20rem;
    margin: 1.5rem;
    border-left: 1px solid rgb(58, 58, 58);
}

#contacts{
    display: flex;
    justify-content: center;
}

#contacts i{
    color: rgb(100,100,100);
    font-size: 2rem;
    margin: 1rem;
}

#informacion{
    margin: 1.2rem;
    color: rgb(100,100,100);
}

#informacion p{
    font-size: 0.9rem;
}

.bloqueDos figure{
    display: flex;
    justify-content: center;
}

.bloqueDos img{
    width: 10rem;
    height: 10rem;
}

.bloqueDos div{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1rem;
}

.bloqueDos a{
    font-size: 0.8rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    color: rgb(100,100,100);
    text-decoration: underline;
}

.bloqueTres{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bloqueTres p{
    display: flex;
    justify-content:center;
    color: rgb(100,100,100);
    font-size: 0.8rem;
}

.bloqueTres a{
    text-decoration: underline;
    margin-bottom: 0.8rem;
    color: rgb(100,100,100);
}

.bloqueTres div{
    display: flex;
    justify-content: center;
    color: rgb(100,100,100);
}

.bloqueTres i{
    font-size: 2rem;
    margin: 0.5rem;
}



.copyright{
    display: flex;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.9);
    font-size: 0.8rem;
}

.copyright a{
    color: rgb(100,100,100);
}



			/**************************
				LOGIN & REGISTER STYLE
			***************************/


.help{
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.registro {
    background-color: rgba(82, 82, 82, 0.8);
    border: 2px solid rgb(100,100,100);
    width: 30rem;
    border-radius: 2%;
}

.registro #ParteA label{
    display: none;
}

.registro p{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: rgb(202, 132, 2);
    margin: 2%;
}

.registro input{
    text-align: center;
    font-size: 0.8rem;
    background-color: transparent;
    height: 1.5rem;
    border: 1px solid rgb(100,100,100);
    width: 25rem;
    border-radius: 5%;
    color: silver;
}

.registro h2{
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(100,100,100);
}

::placeholder {
    color: rgb(202, 132, 2);
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: rgb(202, 132, 2);
  }
  
  ::-ms-input-placeholder {
    color: rgb(202, 132, 2);
  }



.registro #ParteB label{
    margin: 0.3rem 0.4rem;
    width: fit-content;
    font-size: 0.7rem;
}

.registro #ParteB input{
    width: 1rem;
    background-color: rgba(82, 82, 82, 0.8);
}

.registro #ParteB p{
    margin: 0;
}

.registro #ParteC{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.registro #ParteC input{
    margin: 1.5em;
    color: rgb(202, 132, 2);
    width: 6rem;
    cursor: pointer;
}

.log{
    display: flex;
    justify-content: center;
}

.log p{   
    color: silver;
    font-size: 0.6rem;
}

.log a{
    margin-left: 0.2rem;
    color: rgb(214, 214, 214);
    text-decoration: underline;
}



			/**************************
				    PRODUCTS STYLE
			***************************/

.filterContainer {
    display: flex;
    justify-content: center;
	width:100%;
	margin:10px 0 0 0;
	vertical-align:middle;
	line-height:30px;
}

#filterss {
	list-style:none;
	margin:5rem;
	padding:0.7rem;
    width: 80%;
	background-color: rgba(82, 82, 82, 0.8);
    border-radius: 5rem;
    border: 1px solid goldenrod;
    color: silver;
    font-size: 1.3rem;
    
}
#filt-der {
    display:inline-block;
    position: relative;
    left: 84%;
}
#filt-izq{
    display:inline-block;
    position: relative;
    left: 5%;
    
}


#products{
    display: flex;
    justify-content: space-around;
}


#products article{
    display: flex;
    flex-direction: row;
    height: 17.5rem;
    width: 15rem;
    align-items: center;
}


#products img{
    width: 100%;
    height: 100%;
}

#recuadro-products article{
    border: 2px solid black;
    background-color: rgba(56, 56, 56, 0.6);
    margin-bottom: 0.5rem;
    border-radius: 1.5rem;
    transition: all 0.1s ease;
    -webkit-transition: all 2s ease;
}

#recuadro-products article:hover{
    background-color: rgba(251, 161, 16, 0.663);
    opacity: 70%;
}

#recuadro-products{
    margin: 2rem;
    text-align: center;
}





			/**************************
				    RECIPES STYLE
			***************************/


.RecipiesTitle{
    display: flex;
    justify-content: center;
    margin: 6rem 0rem 2rem 0rem;
}
.fila {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.columna {
    flex: 25%;
    max-width: 25%;
    padding: 1rem 4px;
}
  
.columna img {
    width: 100%;
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 1rem;
    transition: all 0.1s ease;
    -webkit-transition: all 0.4s ease;
}

.columna img:hover {
    opacity: 60%;
}