:root {
    --main-color: rgb(202, 132, 2);
    --sec-color: silver;
    --bg-color: rgba(39, 39, 37, 0.797);
}
			/******************
				RESET STYLE
			*******************/


*{
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
    outline: none;
}

html{
    font-size: 20px;
    height: 100vh;
    width: 100vw;
}


			/******************
				HEADER STYLE
			*******************/


/* Titulos  */

.titles{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

#goldTitle{
    color: rgb(202, 132, 2);
    font-weight: bold;
    font-size: 100%;
}

#silverTitle{
    color: silver;
    margin-left: 1rem;
    font-size: 80%;
}




/* Grid Estructura general */

.index-body{
    display: grid;
    grid-template-areas: 
        "nav nav nav"
        "info info info"
        "pie pie pie";
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7.5fr 1.5fr;
}

.index-body #index-header{
    grid-area: nav;
    width: 100%;
    height: 100%;
    margin-top: 3vh;
}
.index-body #index-main{
    grid-area: info;
}
.index-body #index-footer{
    grid-area: pie;
}


/* NAV */


#nav-bar {
    background-color: var(--bg-color);
    height: 15vh;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    font-size: 1.1rem;
    margin-bottom: 5vh;
}

#nav-bar .nav-col.izq {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: flex-end;
}

#nav-bar .nav-col.izq a{
    margin: 0rem 1rem 0.5rem 4rem;
    color: var(--main-color);
    text-decoration: none;
}

.nav-col.izq .indice{
    transition: all .5s;
}
.nav-col.izq .indice:hover{
    font-weight: bold;
    font-size: 1.15rem;
}

/* Seach Bar */
.search-box {
    background-color: none;
    height: 4.5vh;
    width: 4.5vw;
    border-radius: 2rem;
    margin-left: 2vw;
}

.search-box:hover > .search-txt {
    width: 12vw;
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
}

.search-btn {
    transform: translateX(-11vh);
    position: absolute;
    width: 4.5vw;
    height: 4.5vh;
    border-radius: 50%;
    background-color: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

.search-txt {
    border: none;
    border-radius: 50vh;
    background: none;
    outline: none;
    float: left;
    padding: 0 0 0 4vh;
    font-size: 0.8rem;
    transition: .4s;
    line-height: 2rem;
    width: 0;
    color: var(--main-color);
}

/* Logo */

#nav-bar .nav-col.logo{
    display: flex;
    justify-content: center;
}
#nav-bar .nav-col.logo img {
    height: 100%;
    size: 100%;
    transform: translateY(7vh);
}

/* Nav Derecha */

.nav-col.der .fa-solid {
    color: var(--main-color);
}


  /* Dropdown */
  
.nav-col.der{
    transform: translateX(25rem);
}

  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button{
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 2rem;
    transition: all 1s;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }
  
  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    float: left;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }

/* Burger Menu */


.search-box.resp {
    display: none;
}

#burger-container{
    display: none;
}

#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 21;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    z-index: 20;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--sec-color);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: var(--main-color);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: rgba(202, 132, 2, 0.325);
  }


			/******************
				BODY STYLE
			*******************/

    
body{
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--bg-color);
}

#carouselExampleCaptions{
    z-index: 9;
}

/* Featured Products Section */

.featured-prod{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3fr 2fr;
}
.fp-container{
    height: 60vh;
    width: 100vw;
    background-color: var(--bg-color);
}


.featured-prod img{
    width: 100%;
    transition: all 1s;
}

.featured-prod #desc{
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;

}
#desc #line-1{
    font-size: 3vh;
    color: var(--main-color);
    font-weight: bold;
}

#desc #line-2{
    font-size: 2vh;
    color: var(--main-color);
    font-weight: normal;
    font-style: italic;
}

#desc #line-3{
    font-size: 2vh;
    color: var(--sec-color);
    font-weight: bold;
}

#desc #line-4{
    font-size: 1vh;
    color: var(--sec-color);
    text-decoration: line-through;
}

.featured-prod img:hover{
    opacity: 50%;
    width: 99%;
    height: 99%;
}

/* Our Brands Section */

.our-brands{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

#cont-brands{
    display: flex;
    align-items: center;
    justify-self: center;
    height: 10rem;
    width: 10rem;
    border: 2px solid #272725;
    background-color: var(--bg-color);
}
#cont-brands img{
    width: 100%;
}

/* Separator Section */


/* Top-rated Products Section */

			/******************
				MEDIAQUERYs 
			*******************/

@media (min-width: 320px) and (max-width: 1024px) {
    #nav-bar{
        display: none;
    }

    #goldTitle{
        font-size: 60%;
    }
    
    #silverTitle{
        font-size: 50%;
        margin-left: 5%;
    }
    
    .featured-prod{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5vw;
    }
    .fp-container{
        width: 100vw;
        height: 40vh;
    }

    
    #burger-container{
        display: inherit;
    }
    .search-box.resp {
        display: inherit;
    }
    .search-btn {
        transform: translateX(0vh);
        text-decoration: none;
        color: var(--main-color);
    }

    .desc-container{
        display: none;
    }

    .our-brands{
        display: grid;
        grid-template-rows: 1fr 1fr;
        flex-wrap: wrap;
    }
}