html{
    font-size: 20px;
}

header{
    height: 7.5rem;
    background: rgba(37, 37, 37, 0.9);
}

header a{
    color: silver;
}
/*
        **********
        LOGO IMAGE
        **********
*/

figcaption {
    display: none;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    position: relative;
    top: 1.5rem;
    width: 12rem;
    height: 12rem;
}

/*
        ************
        NAV ID FIRST
        ************
*/

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav#first{
    justify-content: left;
    position: relative;
	left: 1rem;
    bottom: 6rem;
	width: 50%;
}

nav#first a{
	display: flex;
	justify-content: center;
	width: 5rem;
    margin-left: 1rem;
	margin-right: 1rem;
    font-size: 1rem;
}



/*
        ***********************
        LOGIN & REGISTER BUTTON
        ***********************
*/

.fa-solid.fa-user{
	color: rgb(255, 255, 255);
}

.fa-solid.fa-cart-shopping{
	color: rgb(255, 255, 255);
}

/*
        ***************************
        SECOND NAV & PROFILE BUTTON
        ***************************
*/


nav#second{
	justify-content: right;
	position: fixed;
	top: 0;
	left: 0;
	height: 5%;
	width: 100%;
	background: rgba(37, 37, 37, 0.8);
	box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.1);
}

nav#second ul{
	list-style: none;
	position: relative;
	float: right;
	display: inline-table;
}

nav#second ul li{
	float: left;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
  
nav#second ul li:hover{
	background: rgba(0,0,0,.15);
}

nav#second ul li:hover > ul{
	display: block;
}

nav#second ul li{
	float: left;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

nav#second ul li a{
	display: block; 
	padding: 30px 20px;
	color: #fff; 
	font-size: .9em;
	letter-spacing: 1px;
	text-decoration: none;
  	text-transform: uppercase;
}

nav#second ul ul{
	display: none;
	background: rgba(37, 37, 37, 0.9);
	position: absolute; 
	top: 100%;
	box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.1);
}

nav#second ul ul li{
	float: none; position: relative;
}

nav ul ul li a {
	padding: 15px 30px; 
	border-bottom: 1px solid rgba(0,0,0,.05);
}

nav#second ul ul ul {
	position: absolute; 
	left: 100%; 
	top:0;
}	

nav#second ul li ul li a#test{
	font-size: 0.6rem;
}


/*
        **********
        SEARCH BAR
        **********
*/

.searchBox input {
	width: 0.4rem;
	height: 0.4rem;
	padding: 0.25rem;
	font-style: bold;
	font-family: sans-serif;
	font-size: .9em;
	text-transform: capitalize;
	border-radius: 50%;
	background: transparent;
	transition: .4s;
	outline: none;
	color: white;
	border:3px solid white;
}

.searchBox input + span {
	position: absolute;
	width: 0.15rem;
	height: 0.30rem;
	background: white;
	transform: rotate(-45deg);
	top: 55%;
	left: 20%;
	transition: .4s;
}
.searchBox input:hover {
	cursor: pointer;
}

.searchBox input:hover:focus{
	cursor: text;
}
.searchBox input:focus {
	width: 10rem;
	height: 1.5rem;
	padding: 0.25rem 0.5rem;
	border-radius: 2rem;
}

.searchBox input:focus + span{
	opacity: 0;
}
